version: 2
updates:
  # npm dependencies
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
    open-pull-requests-limit: 10
    groups:
      dev-dependencies:
        dependency-type: 'development'
        patterns:
          - '@types/*'
          - 'eslint*'
          - 'prettier*'
          - 'typescript*'
      production-dependencies:
        dependency-type: 'production'
    labels:
      - 'dependencies'
      - 'automerge'

  # GitHub Actions
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
    labels:
      - 'dependencies'
      - 'github-actions'

  # Docker
  - package-ecosystem: 'docker'
    directory: '/packages/webapp'
    schedule:
      interval: 'weekly'
    labels:
      - 'dependencies'
      - 'docker'

  - package-ecosystem: 'docker'
    directory: '/packages/bridge-service'
    schedule:
      interval: 'weekly'
    labels:
      - 'dependencies'
      - 'docker'
